
.style-select-fieldset .form-item label, .style-select-fieldset div.description, .style-select-fieldset {
  display: inline;
}

/* free up space in fieldsets */
fieldset.style-select-fieldset, fieldset.style-extensions-fieldset {
  margin: 0px;
  padding: 0.1em;
}

/* make our style description font smaller */
fieldset.style-select-fieldset .description, fieldset.style-extensions-fieldset .description {
  font-size: 80%;
}

/* free up padding in form-items inside our fields */
fieldset.style-select-fieldset .form-item, fieldset.style-extensions-fieldset .form-item {
  margin: 0px 0px 0px 0.45em;
  padding: 0px;
}
